* {
    box-sizing: border-box;
}

body{
    background-image: url("/img/Fondo2.png");
}

#contenedor {
    width: 900px;
    height: 400px;
    background-color: rgb(123, 192, 201);
    border: 5px solid black;
    
}

#cabecera {
    height: 100px;
    background-color: #36cde0;
   
}


button{
    background-color: rgb(11, 212, 186);
    border-radius: 1em;
    width: 500px;
    height: 100px;
    font-size: 30px;
    
}

button:hover{
    color: white;
    background-color: rgb(21, 82, 87);
}

input{
    border-radius: 1em;
    text-align: center;
    width: 200px;
}
