<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
</head>
<body>
    <h1>Practica LAYOUT</h1>
    <h1>Víctor Uriel Juárez Lugo 7-4 2020030324</h1>
    <hr>

    <a href="/html/principal.html">Practica LAYOUT</a>

    <hr>

    <h1>Examen Recuperación</h1>
    <a href="/html/examen.html">Examen de Recuperación</a>

    <hr>
    <h1>Corte 2</h1>
    <p><a href="/html/practica03.html">Práctica 03 -Cotización-</a></p>
    <p><a href="/html/funciones.html">Práctica 04 -Funciones-</a></p>
    <p><a href="/html/principalSitioWeb.html">Mi Sitio Web</a></p>

    <p><a href="/html/cash.html">Examen corte 2</a></p>

    <hr>
    <h1>Corte 3</h1>
    <p><a href="html/dbweb.html">Práctica de bd</a></p>
    
    <hr>
    <h1>VICTOR URIEL JUAREZ LUGO 8-4 TCI</h1>
    <h2>Corte 1</h2>
    <h1><a href="/html/practica4.html">Práctica 4</a></h1>
    <hr>
    <h1><a href="/html/practicaPreExamen.html">Práctica Pre-Examen</a></h1>

    
</body>
</html>